<?xml version="1.0"?>

<launch>
    <param name="res_x" type="int" value="1920" />
    <param name="res_y" type="int" value="1080" />

    <node pkg="mouse_tracker" type ="mouse_position_publisher.py" name="mouse_tracker_node" />
    <node pkg="mouse_tracker" type="solution.py" name="turtle_control" />
    <node pkg="turtlesim" type="turtlesim_node" name="turtle" output="screen"/>
</launch>
